.paw-logo {
  display: inline-block;
}

.successfully-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 461px 0;
}

 .successfully-paragraph, .successfully-link{
  line-height: 41px;
  color: rgba(0, 255, 136, 1);
}

.successfully-paragraph {
  margin-bottom: 10px;
}

.successfully-image {
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
}