.paw-logo {
  display: inline-block;
}

.book-table {
  width: 1120px;
  height: 920px;
  margin: 194px auto 360px;
  background-color: #00ffff;
  border: 1px solid #eddede;
  border-radius: 12px;
}

.book-table:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px #eddede;
}

.book-table__grid {
  display: grid;
  grid-template-columns: repeat(2, 460px);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 16px;
  padding-left: 92px;
}

.book-table__title {
  width: 500px;
  margin: 48px 528px 0px 92px;
}

.book-table__input-firstname {
  grid-area: 2 / 1 / 2 / 1;
}

.book-table__input-email {
  grid-area: 4 / 1 / 4 / 1;
}

label {
  margin-top: 48px;
}

input {
  border: none;
  height: 64px;
  color: rgb(76, 75, 75);
}

input:invalid {
  border: 2px solid red;
}

input:focus,
textarea:focus {
  background-color: #fff2f4;
}

.book-table__textarea {
  display: flex;
  flex-direction: column;
  padding-left: 92px;
}

.book-table__textarea textarea {
  width: 936px;
  height: 224px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
}

.book-table__button {
  width: 552px;
  height: 58px;
  line-height: 44px;
  background-color: rgba(27, 82, 223, 1);
  color: rgba(255, 254, 254, 1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 4px 9px #080808;
  margin: 40px 280px 114px;
}

.book-table__button:hover {
  background-color: #32527b;
}

.book-table__button:active {
  box-shadow: 4px 4px 6px rgba(14, 13, 13, 30);
  transform: translateY(4px);
}
